.star {
  position: relative;
  display: inline-block;
  font-size: 32px;
  cursor: pointer;
  color: lightgray;
}

.star .fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  color: gold;
  pointer-events: none;
}

#star-rating {
  position: relative;
  z-index: 1;
}